<footer><p>
  &copy; 2023 <a href="https://www.riarivera.com">www.riarivera.com</a><br>
  All content on this website is copyright owned by Ria Rivera. No part of the site, including downloadable files, may be reproduced in part or in whole without the permission of the author.
</p>
<p>
  This site was created using <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>'s <a href="{{ pkg.repository.url }}">EleventyOne</a> template.
</p>


</footer>
