<header>
  <ul class="nav">
    <li>
      <a href="/">home<small></small></a>
    </li>
    <li>
      <a href="/experience">experience<small></small></a>
    </li>
    <li>
      <a href="/work">work<small></small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
